div.product-mobile {
    background-color: lightgreen;
}

div.product-computer {
    background-color: lightblue;
}

div.product-computer {
    background-color: lightblue;
}

div.product-last-updated {
    border: 5px solid red;
}